{% extends 'base.html' %}
{% load static %}

{% block content %}
  <img src="{% static 'imgimg.png' %}" alt="">
  <h1>INDEX PAGE</h1>
  <br>
  <a href="{% url 'articles:create' %}">[글 생성]</a>
  <hr>
  {% for article in articles %}
    <p>{{ article.pk }}</p>
    <a href="{% url 'articles:detail' article.pk %}">
      <p>{{ article.title }}</p>
    </a>
    <p>좋아요:
      {{ article.like_users.count }}</p>
    <form action="{% url 'articles:likes' article.pk %}" method="POST">
      {% csrf_token %}
      {% if request.user in article.like_users.all %}
        <input type="submit" value="좋아요취소"></form>
    {% else %}
      <input type="submit" value="좋아요"></form>
  {% endif %}
  <hr>
{% endfor %}
{% endblock content %}